@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Ubuntu;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

header a {
    text-decoration: none;
    color: #957554;
    font-family: Ubuntu;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-logo-div {
    margin-bottom: 3.6%;
}

.nav-list-flex {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.nav-div {
    width: 90%;
    margin: 1%;
}

.welcome-section-2 {
    background: url(../img/hero_image.png) center/cover no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 70vh;
    font-size: 2.9rem;
    font-weight: bold;
}

.welcome-section-2 p {
    font-weight: bold;
}

.main-sections p {
    margin: 8px 0 35px;
    font-size: 0.6rem;
}

.welcome-section-2 a {
    text-decoration: none;
    color: #fff;
    background-color: #DFAA5B;
    padding: 20px 90px;
}

.welcome-section-2 div {
    margin-top: 9.9%;
}

.facilities {
    color: #957554;
    font-family: Ubuntu;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.facili-iconlist-flex{
    margin: 5%;
}

.icon-kitch {

}

.ul-nav2,
.ul-icon1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;

}
.ul-nav2 a {
    text-decoration: none;
    color: #957554;
    font-family: Ubuntu;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ------------------ icon grösse bestimmen ------ /

.ul-icon1 li img {
    width: 0.5em;
    height: 0.5em;
}
*/


@media only screen and (max-width: 760px) {
    .ul-icon1 li img {
        width: 0.5em;
        height: 0.5em;
    }
    html {
        font-size: 12px;
    }
    .ul-nav2 a {
        font-size: 0.4em;
        
    }

}



@media only screen and (min-width: 768px) {

    .ul-icon1 li img {
        width: 0.8em;
        height: 0.8em;
    }
    html {
        font-size: 16px;
    }
    .ul-nav2 {
        font-size: 2em;
        
    }

}

@media only screen and (min-width: 992px) {

    .ul-icon1 li img {
        width: 1em;
        height: 1em;
    }
    html {
        font-size: 18px;
    }
}    